*{
    margin: 0;
    padding: 0;
    line-height:1;
    }
html,body{
  height: 100%;
  }
  ul{
    list-style: none;
    }
  h1,h2,h3{
    font-size: initial; 
    font-weight: normal
  }
a{
 text-decoration: none;
}